* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

/* 
    estilos del banner principal
*/
.hero {
    position: relative;
    background: url('https://media.revistagq.com/photos/63f5e18c29543f9222599b30/master/pass/nike-running-shoes-streakfly-invincible.jpg') no-repeat center center/cover;
    color: white;
    text-align: center;
    padding: 80px 20px;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45); /* Fondo negro con opacidad */
    z-index: 1; /* Asegura que esté por encima de la imagen, pero debajo del contenido */
}

.hero > * {
    position: relative;
    z-index: 2; /* Asegura que los elementos dentro de .hero estén por encima del pseudo-elemento */
}


.hero h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 20px;
    margin-bottom: 30px;
}

button {
    padding: 10px 20px;
    background-color: #FF5722;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

button:hover {
    background-color: #E64A19;
}

section {
    padding: 50px 20px;
    text-align: center;
}

.product-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.product-card {
    background-color: #f4f4f4;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.product-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.product-card h3 {
    margin: 10px 0;
    font-size: 22px;
}

.product-card p {
    font-size: 18px;
}

.buy-btn {
    background-color: #FF5722;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.buy-btn:hover {
    background-color: #E64A19;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    max-width: 500px;
    margin: 0 auto;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #FF5722;
    color: white;
    padding: 15px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-top: 50px;
}
